script.
  shuffle = function(v){
      for(var j, x, i = v.length; i; j = parseInt(Math.random() * i), x = v[--i], v[i] = v[j], v[j] = x);
      return v;
  };
  $(function() {
    TweenMax.staggerFromTo(shuffle($('#digits path')),1,{alpha:0.2},{alpha:0,repeat:-1},0.01);
    new TypeIt('.type-it', {
        strings: ['あなたのビジネスを加速させるソリューションを用意します。', 
          '「ちいさく改善。お得に解決。」',
          'まずはオイコノミカにご相談を。'],
        breakLines: false,
        loop: true,
        loopDelay: false,
        nextStringDelay: 2000
    });
  });

.container
    figure
      style(type="text/css").
        figure {
          position: relative;
        }

        figcaption {
          width: 100%;
          text-align: center;
          position: absolute;
          top: calc(50% - 2.0em / 2);
          font-size: 2.0em;
          font-weight: 700;
          color:#FFFFFF;
        }

      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewBox='0 0 1200 600', enable-background='new 0 0 1200 600', xml:space='preserve')
        style(type="text/css").
          .st0{opacity:0.5;fill:#FFFFFF;}

        g#digits
          path.st0(d='M28.7,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,4.5,28.3,7.1,28.7,10.8z M23,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,31.6,21.8,30,23,26.9z')
          path.st0(d='M70.8,36.4h-6.7L64,11l-3.8,3l-1.9-4.2l12.5-8.7V36.4z')
          path.st0(d='M123.3,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,4.5,122.9,7.1,123.3,10.8z M117.6,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,31.6,116.4,30,117.6,26.9z')
          path.st0(d='M165.4,36.4h-6.7L158.6,11l-3.8,3l-1.9-4.2l12.5-8.7V36.4z')
          path.st0(d='M217.9,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,4.5,217.5,7.1,217.9,10.8z M212.2,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,31.6,211,30,212.2,26.9z')
          path.st0(d='M260,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2L260,1.2V36.5z')
          path.st0(d='M312.4,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,4.5,312,7.1,312.4,10.8z M306.7,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,31.6,305.5,30,306.7,26.9z')
          path.st0(d='M354.6,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M407,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,4.5,406.6,7.1,407,10.8z M401.3,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,31.6,400.1,30,401.3,26.9z')
          path.st0(d='M449.2,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M501.6,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,4.5,501.2,7.1,501.6,10.8z M495.9,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,31.6,494.7,30,495.9,26.9z')
          path.st0(d='M543.8,36.5h-6.7L537,11.1l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M596.2,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,4.5,595.8,7.1,596.2,10.8z M590.5,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,31.6,589.3,30,590.5,26.9z')
          path.st0(d='M638.4,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M690.8,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,4.5,690.4,7.1,690.8,10.8z M685.1,26.9L685,10.6\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C682.1,31.6,683.9,30,685.1,26.9z')
          path.st0(d='M732.9,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M785.4,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,4.5,785,7.1,785.4,10.8z M779.7,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C776.7,31.6,778.5,30,779.7,26.9z')
          path.st0(d='M827.5,36.5h-6.7l-0.1-25.4l-3.8,3L815,9.9l12.5-8.7V36.5z')
          path.st0(d='M880,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,4.5,879.6,7.1,880,10.8z M874.3,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,31.6,873.1,30,874.3,26.9z')
          path.st0(d='M922.1,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M974.6,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V10.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,4.5,974.2,7.1,974.6,10.8z M968.9,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C965.9,31.6,967.7,30,968.9,26.9z')
          path.st0(d='M1016.7,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M1069.2,10.7V27c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.5\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,4.4,1068.8,7,1069.2,10.7z M1063.5,26.8l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,31.5,1062.3,29.9,1063.5,26.8z')
          path.st0(d='M1111.3,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M1163.7,10.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V10.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,4.5,1163.3,7.1,1163.7,10.8z M1158,26.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,31.6,1156.8,30,1158,26.9z')
          path.st0(d='M28.7,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,56.5,28.3,59.1,28.7,62.8z M23,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,83.6,21.8,82,23,78.9z')
          path.st0(d='M70.8,88.4h-6.7L64,63l-3.8,3l-1.9-4.2l12.5-8.7V88.4z')
          path.st0(d='M123.3,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,56.5,122.9,59.1,123.3,62.8z M117.6,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,83.6,116.4,82,117.6,78.9z')
          path.st0(d='M165.4,88.4h-6.7L158.6,63l-3.8,3l-1.9-4.2l12.5-8.7V88.4z')
          path.st0(d='M217.9,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,56.5,217.5,59.1,217.9,62.8z M212.2,78.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,83.6,211,82,212.2,78.9z')
          path.st0(d='M260,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M312.4,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,56.5,312,59.1,312.4,62.8z M306.7,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,83.6,305.5,82,306.7,78.9z')
          path.st0(d='M354.6,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M407,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,56.5,406.6,59.1,407,62.8z M401.3,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,83.6,400.1,82,401.3,78.9z')
          path.st0(d='M449.2,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M501.6,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,56.5,501.2,59.1,501.6,62.8z M495.9,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,83.6,494.7,82,495.9,78.9z')
          path.st0(d='M543.8,88.5h-6.7L537,63.1l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M596.2,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,56.5,595.8,59.1,596.2,62.8z M590.5,78.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,83.6,589.3,82,590.5,78.9z')
          path.st0(d='M638.4,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M690.8,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,56.5,690.4,59.1,690.8,62.8z M685.1,78.9\
          L685,62.6c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C682.1,83.6,683.9,82,685.1,78.9z')
          path.st0(d='M732.9,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M785.4,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,56.5,785,59.1,785.4,62.8z M779.7,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C776.7,83.6,778.5,82,779.7,78.9z')
          path.st0(d='M827.5,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M880,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,56.5,879.6,59.1,880,62.8z M874.3,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,83.6,873.1,82,874.3,78.9z')
          path.st0(d='M922.1,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M974.6,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V62.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,56.5,974.2,59.1,974.6,62.8z M968.9,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C965.9,83.6,967.7,82,968.9,78.9z')
          path.st0(d='M1016.7,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M1069.2,62.7V79c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.5\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,56.4,1068.8,59,1069.2,62.7z M1063.5,78.8l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,83.5,1062.3,81.9,1063.5,78.8z')
          path.st0(d='M1111.3,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M1163.7,62.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V62.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,56.5,1163.3,59.1,1163.7,62.8z M1158,78.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,83.6,1156.8,82,1158,78.9z')
          path.st0(d='M28.7,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,106.5,28.3,109.1,28.7,112.8z M23,128.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,133.6,21.8,132,23,128.9z')
          path.st0(d='M70.8,138.4h-6.7L64,113l-3.8,3l-1.9-4.2l12.5-8.7V138.4z')
          path.st0(d='M123.3,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,106.5,122.9,109.1,123.3,112.8z M117.6,128.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,133.6,116.4,132,117.6,128.9z')
          path.st0(d='M165.4,138.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.4z')
          path.st0(d='M217.9,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C216.3,106.5,217.5,109.1,217.9,112.8z M212.2,128.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C209.2,133.6,211,132,212.2,128.9z')
          path.st0(d='M260,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M312.4,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,106.5,312,109.1,312.4,112.8z M306.7,128.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,133.6,305.5,132,306.7,128.9z')
          path.st0(d='M354.6,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M407,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,106.5,406.6,109.1,407,112.8z M401.3,128.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,133.6,400.1,132,401.3,128.9z')
          path.st0(d='M449.2,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M501.6,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,106.5,501.2,109.1,501.6,112.8z M495.9,128.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,133.6,494.7,132,495.9,128.9z')
          path.st0(d='M543.8,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M596.2,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C594.6,106.5,595.8,109.1,596.2,112.8z M590.5,128.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C587.5,133.6,589.3,132,590.5,128.9z')
          path.st0(d='M638.4,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M690.8,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C689.2,106.5,690.4,109.1,690.8,112.8z M685.1,128.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C682.1,133.6,683.9,132,685.1,128.9z')
          path.st0(d='M732.9,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M785.4,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C783.8,106.5,785,109.1,785.4,112.8z M779.7,128.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,133.6,778.5,132,779.7,128.9z')
          path.st0(d='M827.5,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M880,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,106.5,879.6,109.1,880,112.8z M874.3,128.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,133.6,873.1,132,874.3,128.9z')
          path.st0(d='M922.1,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M974.6,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C973,106.5,974.2,109.1,974.6,112.8z M968.9,128.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,133.6,967.7,132,968.9,128.9z')
          path.st0(d='M1016.7,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M1069.2,112.7V129c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,106.4,1068.8,109,1069.2,112.7z M1063.5,128.8\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,133.5,1062.3,131.9,1063.5,128.8z')
          path.st0(d='M1111.3,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M1163.7,112.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,106.5,1163.3,109.1,1163.7,112.8z M1158,128.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,133.6,1156.8,132,1158,128.9z')
          path.st0(d='M28.7,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,160.5,28.3,163.1,28.7,166.8z M23,182.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,187.6,21.8,186,23,182.9z')
          path.st0(d='M70.8,192.4h-6.7L64,167l-3.8,3l-1.9-4.2l12.5-8.7V192.4z')
          path.st0(d='M123.3,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,160.5,122.9,163.1,123.3,166.8z M117.6,182.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,187.6,116.4,186,117.6,182.9z')
          path.st0(d='M165.4,192.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.4z')
          path.st0(d='M217.9,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C216.3,160.5,217.5,163.1,217.9,166.8z M212.2,182.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C209.2,187.6,211,186,212.2,182.9z')
          path.st0(d='M260,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M312.4,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,160.5,312,163.1,312.4,166.8z M306.7,182.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,187.6,305.5,186,306.7,182.9z')
          path.st0(d='M354.6,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M407,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,160.5,406.6,163.1,407,166.8z M401.3,182.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,187.6,400.1,186,401.3,182.9z')
          path.st0(d='M449.2,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M501.6,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,160.5,501.2,163.1,501.6,166.8z M495.9,182.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,187.6,494.7,186,495.9,182.9z')
          path.st0(d='M543.8,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M596.2,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C594.6,160.5,595.8,163.1,596.2,166.8z M590.5,182.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C587.5,187.6,589.3,186,590.5,182.9z')
          path.st0(d='M638.4,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M690.8,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C689.2,160.5,690.4,163.1,690.8,166.8z M685.1,182.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C682.1,187.6,683.9,186,685.1,182.9z')
          path.st0(d='M732.9,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M785.4,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C783.8,160.5,785,163.1,785.4,166.8z M779.7,182.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,187.6,778.5,186,779.7,182.9z')
          path.st0(d='M827.5,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M880,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,160.5,879.6,163.1,880,166.8z M874.3,182.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,187.6,873.1,186,874.3,182.9z')
          path.st0(d='M922.1,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M974.6,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C973,160.5,974.2,163.1,974.6,166.8z M968.9,182.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,187.6,967.7,186,968.9,182.9z')
          path.st0(d='M1016.7,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M1069.2,166.7V183c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,160.4,1068.8,163,1069.2,166.7z M1063.5,182.8\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,187.5,1062.3,185.9,1063.5,182.8z')
          path.st0(d='M1111.3,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M1163.7,166.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,160.5,1163.3,163.1,1163.7,166.8z M1158,182.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,187.6,1156.8,186,1158,182.9z')
          path.st0(d='M28.7,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,210.5,28.3,213.1,28.7,216.8z M23,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,237.6,21.8,236,23,232.9z')
          path.st0(d='M70.8,242.4h-6.7L64,217l-3.8,3l-1.9-4.2l12.5-8.7V242.4z')
          path.st0(d='M123.3,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,210.5,122.9,213.1,123.3,216.8z M117.6,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,237.6,116.4,236,117.6,232.9z')
          path.st0(d='M165.4,242.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.4z')
          path.st0(d='M217.9,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,210.5,217.5,213.1,217.9,216.8z\
          M212.2,232.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,237.6,211,236,212.2,232.9z')
          path.st0(d='M260,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M312.4,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,210.5,312,213.1,312.4,216.8z M306.7,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,237.6,305.5,236,306.7,232.9z')
          path.st0(d='M354.6,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M407,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,210.5,406.6,213.1,407,216.8z M401.3,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,237.6,400.1,236,401.3,232.9z')
          path.st0(d='M449.2,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M501.6,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,210.5,501.2,213.1,501.6,216.8z M495.9,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,237.6,494.7,236,495.9,232.9z')
          path.st0(d='M543.8,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M596.2,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,210.5,595.8,213.1,596.2,216.8z\
          M590.5,232.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,237.6,589.3,236,590.5,232.9z\
          ')
          path.st0(d='M638.4,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M690.8,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,210.5,690.4,213.1,690.8,216.8z\
          M685.1,232.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C682.1,237.6,683.9,236,685.1,232.9z\
          ')
          path.st0(d='M732.9,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M785.4,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,210.5,785,213.1,785.4,216.8z\
          M779.7,232.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C776.7,237.6,778.5,236,779.7,232.9z\
          ')
          path.st0(d='M827.5,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M880,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,210.5,879.6,213.1,880,216.8z M874.3,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,237.6,873.1,236,874.3,232.9z')
          path.st0(d='M922.1,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M974.6,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,210.5,974.2,213.1,974.6,216.8z\
          M968.9,232.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C965.9,237.6,967.7,236,968.9,232.9z\
          ')
          path.st0(d='M1016.7,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M1069.2,216.7V233c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,210.4,1068.8,213,1069.2,216.7z M1063.5,232.8l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,237.5,1062.3,235.9,1063.5,232.8z')
          path.st0(d='M1111.3,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M1163.7,216.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,210.5,1163.3,213.1,1163.7,216.8z M1158,232.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,237.6,1156.8,236,1158,232.9z')
          path.st0(d='M28.7,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,260.5,28.3,263.1,28.7,266.8z M23,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,287.6,21.8,286,23,282.9z')
          path.st0(d='M70.8,292.4h-6.7L64,267l-3.8,3l-1.9-4.2l12.5-8.7V292.4z')
          path.st0(d='M123.3,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,260.5,122.9,263.1,123.3,266.8z M117.6,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,287.6,116.4,286,117.6,282.9z')
          path.st0(d='M165.4,292.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.4z')
          path.st0(d='M217.9,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,260.5,217.5,263.1,217.9,266.8z\
          M212.2,282.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,287.6,211,286,212.2,282.9z')
          path.st0(d='M260,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M312.4,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,260.5,312,263.1,312.4,266.8z M306.7,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,287.6,305.5,286,306.7,282.9z')
          path.st0(d='M354.6,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M407,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,260.5,406.6,263.1,407,266.8z M401.3,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,287.6,400.1,286,401.3,282.9z')
          path.st0(d='M449.2,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M501.6,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,260.5,501.2,263.1,501.6,266.8z M495.9,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,287.6,494.7,286,495.9,282.9z')
          path.st0(d='M543.8,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M596.2,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,260.5,595.8,263.1,596.2,266.8z\
          M590.5,282.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,287.6,589.3,286,590.5,282.9z\
          ')
          path.st0(d='M638.4,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M690.8,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,260.5,690.4,263.1,690.8,266.8z\
          M685.1,282.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C682.1,287.6,683.9,286,685.1,282.9z\
          ')
          path.st0(d='M732.9,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M785.4,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,260.5,785,263.1,785.4,266.8z\
          M779.7,282.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C776.7,287.6,778.5,286,779.7,282.9z\
          ')
          path.st0(d='M827.5,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M880,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,260.5,879.6,263.1,880,266.8z M874.3,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,287.6,873.1,286,874.3,282.9z')
          path.st0(d='M922.1,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M974.6,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,260.5,974.2,263.1,974.6,266.8z\
          M968.9,282.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C965.9,287.6,967.7,286,968.9,282.9z\
          ')
          path.st0(d='M1016.7,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M1069.2,266.7V283c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,260.4,1068.8,263,1069.2,266.7z M1063.5,282.8l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,287.5,1062.3,285.9,1063.5,282.8z')
          path.st0(d='M1111.3,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M1163.7,266.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,260.5,1163.3,263.1,1163.7,266.8z M1158,282.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,287.6,1156.8,286,1158,282.9z')
          path.st0(d='M28.7,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,312.5,28.3,315.1,28.7,318.8z M23,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,339.6,21.8,338,23,334.9z')
          path.st0(d='M70.8,344.4h-6.7L64,319l-3.8,3l-1.9-4.2l12.5-8.7V344.4z')
          path.st0(d='M123.3,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,312.5,122.9,315.1,123.3,318.8z M117.6,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,339.6,116.4,338,117.6,334.9z')
          path.st0(d='M165.4,344.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.4z')
          path.st0(d='M217.9,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,312.5,217.5,315.1,217.9,318.8z\
          M212.2,334.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,339.6,211,338,212.2,334.9z')
          path.st0(d='M260,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M312.4,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,312.5,312,315.1,312.4,318.8z M306.7,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,339.6,305.5,338,306.7,334.9z')
          path.st0(d='M354.6,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M407,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,312.5,406.6,315.1,407,318.8z M401.3,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,339.6,400.1,338,401.3,334.9z')
          path.st0(d='M449.2,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M501.6,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,312.5,501.2,315.1,501.6,318.8z M495.9,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,339.6,494.7,338,495.9,334.9z')
          path.st0(d='M543.8,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M596.2,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,312.5,595.8,315.1,596.2,318.8z\
          M590.5,334.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,339.6,589.3,338,590.5,334.9z\
          ')
          path.st0(d='M638.4,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M690.8,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,312.5,690.4,315.1,690.8,318.8z\
          M685.1,334.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C682.1,339.6,683.9,338,685.1,334.9z\
          ')
          path.st0(d='M732.9,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M785.4,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,312.5,785,315.1,785.4,318.8z\
          M779.7,334.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C776.7,339.6,778.5,338,779.7,334.9z\
          ')
          path.st0(d='M827.5,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M880,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,312.5,879.6,315.1,880,318.8z M874.3,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,339.6,873.1,338,874.3,334.9z')
          path.st0(d='M922.1,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M974.6,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,312.5,974.2,315.1,974.6,318.8z\
          M968.9,334.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C965.9,339.6,967.7,338,968.9,334.9z\
          ')
          path.st0(d='M1016.7,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M1069.2,318.7V335c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,312.4,1068.8,315,1069.2,318.7z M1063.5,334.8l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,339.5,1062.3,337.9,1063.5,334.8z')
          path.st0(d='M1111.3,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M1163.7,318.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,312.5,1163.3,315.1,1163.7,318.8z M1158,334.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,339.6,1156.8,338,1158,334.9z')
          path.st0(d='M28.7,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,363.7,28.3,366.3,28.7,370z M23,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,390.8,21.8,389.2,23,386.1z')
          path.st0(d='M70.8,395.7h-6.7L64,370.3l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M123.3,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,363.7,122.9,366.3,123.3,370z M117.6,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,390.8,116.4,389.2,117.6,386.1z')
          path.st0(d='M165.4,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M217.9,370v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,363.7,217.5,366.3,217.9,370z M212.2,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,390.8,211,389.2,212.2,386.1z')
          path.st0(d='M260,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M312.4,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,363.7,312,366.3,312.4,370z M306.7,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,390.8,305.5,389.2,306.7,386.1z')
          path.st0(d='M354.6,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M407,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,363.7,406.6,366.3,407,370z M401.3,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,390.8,400.1,389.2,401.3,386.1z')
          path.st0(d='M449.2,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M501.6,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,363.7,501.2,366.3,501.6,370z M495.9,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,390.8,494.7,389.2,495.9,386.1z')
          path.st0(d='M543.8,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M596.2,370v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,363.7,595.8,366.3,596.2,370z M590.5,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C587.5,390.8,589.3,389.2,590.5,386.1z')
          path.st0(d='M638.4,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M690.8,370.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,363.8,690.4,366.4,690.8,370.1z\
          M685.1,386.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V386c1.3,3.3,3.2,4.9,5.5,4.9C682.1,390.9,683.9,389.3,685.1,386.2\
          z')
          path.st0(d='M732.9,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M785.4,370.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,363.8,785,366.4,785.4,370.1z\
          M779.7,386.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V386c1.3,3.3,3.2,4.9,5.5,4.9C776.7,390.9,778.5,389.3,779.7,386.2\
          z')
          path.st0(d='M827.5,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M880,370.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,363.8,879.6,366.4,880,370.1z M874.3,386.2l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V386c1.3,3.3,3.2,4.9,5.5,4.9C871.3,390.9,873.1,389.3,874.3,386.2z')
          path.st0(d='M922.1,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M974.6,370.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,363.8,974.2,366.4,974.6,370.1z\
          M968.9,386.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V386c1.3,3.3,3.2,4.9,5.5,4.9C965.9,390.9,967.7,389.3,968.9,386.2\
          z')
          path.st0(d='M1016.7,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M1069.2,370v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,363.7,1068.8,366.3,1069.2,370z M1063.5,386.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,390.8,1062.3,389.2,1063.5,386.1z')
          path.st0(d='M1111.3,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M1163.7,370.1v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,363.8,1163.3,366.4,1163.7,370.1z M1158,386.2l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V386c1.3,3.3,3.2,4.9,5.5,4.9C1155,390.9,1156.8,389.3,1158,386.2z')
          path.st0(d='M28.7,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,416.2,28.3,418.8,28.7,422.5z M23,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,443.3,21.8,441.7,23,438.6z')
          path.st0(d='M70.8,448.1h-6.7L64,422.7l-3.8,3l-1.9-4.2l12.5-8.7V448.1z')
          path.st0(d='M123.3,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,416.2,122.9,418.8,123.3,422.5z M117.6,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,443.3,116.4,441.7,117.6,438.6z')
          path.st0(d='M165.4,448.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.1z')
          path.st0(d='M217.9,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,416.2,217.5,418.8,217.9,422.5z\
          M212.2,438.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,443.3,211,441.7,212.2,438.6z\
          ')
          path.st0(d='M260,448.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.1z')
          path.st0(d='M312.4,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,416.2,312,418.8,312.4,422.5z M306.7,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,443.3,305.5,441.7,306.7,438.6z')
          path.st0(d='M354.6,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M407,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,416.2,406.6,418.8,407,422.5z M401.3,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,443.3,400.1,441.7,401.3,438.6z')
          path.st0(d='M449.2,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M501.6,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,416.2,501.2,418.8,501.6,422.5z M495.9,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,443.3,494.7,441.7,495.9,438.6z')
          path.st0(d='M543.8,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M596.2,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,416.2,595.8,418.8,596.2,422.5z\
          M590.5,438.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C587.5,443.3,589.3,441.7,590.5,438.6z')
          path.st0(d='M638.4,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M690.8,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,416.2,690.4,418.8,690.8,422.5z\
          M685.1,438.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C682.1,443.3,683.9,441.7,685.1,438.6z')
          path.st0(d='M732.9,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M785.4,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,416.2,785,418.8,785.4,422.5z\
          M779.7,438.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,443.3,778.5,441.7,779.7,438.6z')
          path.st0(d='M827.5,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M880,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,416.2,879.6,418.8,880,422.5z M874.3,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,443.3,873.1,441.7,874.3,438.6z')
          path.st0(d='M922.1,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M974.6,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,416.2,974.2,418.8,974.6,422.5z\
          M968.9,438.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,443.3,967.7,441.7,968.9,438.6z')
          path.st0(d='M1016.7,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M1069.2,422.4v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,416.1,1068.8,418.7,1069.2,422.4z M1063.5,438.5l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,443.2,1062.3,441.6,1063.5,438.5z')
          path.st0(d='M1111.3,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M1163.7,422.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,416.2,1163.3,418.8,1163.7,422.5z M1158,438.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,443.3,1156.8,441.7,1158,438.6z')
          path.st0(d='M28.7,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,468.2,28.3,470.8,28.7,474.5z M23,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,495.3,21.8,493.7,23,490.6z')
          path.st0(d='M70.8,500.1h-6.7L64,474.7l-3.8,3l-1.9-4.2l12.5-8.7V500.1z')
          path.st0(d='M123.3,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,468.2,122.9,470.8,123.3,474.5z M117.6,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,495.3,116.4,493.7,117.6,490.6z')
          path.st0(d='M165.4,500.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.1z')
          path.st0(d='M217.9,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,468.2,217.5,470.8,217.9,474.5z\
          M212.2,490.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,495.3,211,493.7,212.2,490.6z\
          ')
          path.st0(d='M260,500.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.1z')
          path.st0(d='M312.4,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,468.2,312,470.8,312.4,474.5z M306.7,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,495.3,305.5,493.7,306.7,490.6z')
          path.st0(d='M354.6,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M407,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,468.2,406.6,470.8,407,474.5z M401.3,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,495.3,400.1,493.7,401.3,490.6z')
          path.st0(d='M449.2,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M501.6,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,468.2,501.2,470.8,501.6,474.5z M495.9,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,495.3,494.7,493.7,495.9,490.6z')
          path.st0(d='M543.8,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M596.2,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,468.2,595.8,470.8,596.2,474.5z\
          M590.5,490.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C587.5,495.3,589.3,493.7,590.5,490.6z')
          path.st0(d='M638.4,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M690.8,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,468.2,690.4,470.8,690.8,474.5z\
          M685.1,490.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C682.1,495.3,683.9,493.7,685.1,490.6z')
          path.st0(d='M732.9,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M785.4,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,468.2,785,470.8,785.4,474.5z\
          M779.7,490.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,495.3,778.5,493.7,779.7,490.6z')
          path.st0(d='M827.5,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M880,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,468.2,879.6,470.8,880,474.5z M874.3,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,495.3,873.1,493.7,874.3,490.6z')
          path.st0(d='M922.1,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M974.6,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,468.2,974.2,470.8,974.6,474.5z\
          M968.9,490.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,495.3,967.7,493.7,968.9,490.6z')
          path.st0(d='M1016.7,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M1069.2,474.4v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,468.1,1068.8,470.7,1069.2,474.4z M1063.5,490.5l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,495.2,1062.3,493.6,1063.5,490.5z')
          path.st0(d='M1111.3,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M1163.7,474.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,468.2,1163.3,470.8,1163.7,474.5z M1158,490.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,495.3,1156.8,493.7,1158,490.6z')
          path.st0(d='M28.7,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,516.2,28.3,518.8,28.7,522.5z M23,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,543.3,21.8,541.7,23,538.6z')
          path.st0(d='M70.8,548.1h-6.7L64,522.7l-3.8,3l-1.9-4.2l12.5-8.7V548.1z')
          path.st0(d='M123.3,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,516.2,122.9,518.8,123.3,522.5z M117.6,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,543.3,116.4,541.7,117.6,538.6z')
          path.st0(d='M165.4,548.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.1z')
          path.st0(d='M217.9,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,516.2,217.5,518.8,217.9,522.5z\
          M212.2,538.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,543.3,211,541.7,212.2,538.6z\
          ')
          path.st0(d='M260,548.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.1z')
          path.st0(d='M312.4,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,516.2,312,518.8,312.4,522.5z M306.7,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,543.3,305.5,541.7,306.7,538.6z')
          path.st0(d='M354.6,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M407,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,516.2,406.6,518.8,407,522.5z M401.3,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,543.3,400.1,541.7,401.3,538.6z')
          path.st0(d='M449.2,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M501.6,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,516.2,501.2,518.8,501.6,522.5z M495.9,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,543.3,494.7,541.7,495.9,538.6z')
          path.st0(d='M543.8,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M596.2,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,516.2,595.8,518.8,596.2,522.5z\
          M590.5,538.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C587.5,543.3,589.3,541.7,590.5,538.6z')
          path.st0(d='M638.4,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M690.8,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,516.2,690.4,518.8,690.8,522.5z\
          M685.1,538.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C682.1,543.3,683.9,541.7,685.1,538.6z')
          path.st0(d='M732.9,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M785.4,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,516.2,785,518.8,785.4,522.5z\
          M779.7,538.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,543.3,778.5,541.7,779.7,538.6z')
          path.st0(d='M827.5,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M880,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,516.2,879.6,518.8,880,522.5z M874.3,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,543.3,873.1,541.7,874.3,538.6z')
          path.st0(d='M922.1,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M974.6,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,516.2,974.2,518.8,974.6,522.5z\
          M968.9,538.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,543.3,967.7,541.7,968.9,538.6z')
          path.st0(d='M1016.7,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M1069.2,522.4v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,516.1,1068.8,518.7,1069.2,522.4z M1063.5,538.5l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,543.2,1062.3,541.6,1063.5,538.5z')
          path.st0(d='M1111.3,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M1163.7,522.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,516.2,1163.3,518.8,1163.7,522.5z M1158,538.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,543.3,1156.8,541.7,1158,538.6z')
          path.st0(d='M28.7,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C27.1,568.2,28.3,570.8,28.7,574.5z M23,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C20,595.3,21.8,593.7,23,590.6z')
          path.st0(d='M70.8,600.1h-6.7L64,574.7l-3.8,3l-1.9-4.2l12.5-8.7V600.1z')
          path.st0(d='M123.3,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C121.7,568.2,122.9,570.8,123.3,574.5z M117.6,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C114.6,595.3,116.4,593.7,117.6,590.6z')
          path.st0(d='M165.4,600.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.1z')
          path.st0(d='M217.9,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C216.3,568.2,217.5,570.8,217.9,574.5z\
          M212.2,590.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C209.2,595.3,211,593.7,212.2,590.6z\
          ')
          path.st0(d='M260,600.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.1z')
          path.st0(d='M312.4,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C310.8,568.2,312,570.8,312.4,574.5z M306.7,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C303.7,595.3,305.5,593.7,306.7,590.6z')
          path.st0(d='M354.6,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M407,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C405.4,568.2,406.6,570.8,407,574.5z M401.3,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C398.3,595.3,400.1,593.7,401.3,590.6z')
          path.st0(d='M449.2,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M501.6,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C500,568.2,501.2,570.8,501.6,574.5z M495.9,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C492.9,595.3,494.7,593.7,495.9,590.6z')
          path.st0(d='M543.8,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M596.2,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C594.6,568.2,595.8,570.8,596.2,574.5z\
          M590.5,590.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C587.5,595.3,589.3,593.7,590.5,590.6z')
          path.st0(d='M638.4,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M690.8,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C689.2,568.2,690.4,570.8,690.8,574.5z\
          M685.1,590.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C682.1,595.3,683.9,593.7,685.1,590.6z')
          path.st0(d='M732.9,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M785.4,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C783.8,568.2,785,570.8,785.4,574.5z\
          M779.7,590.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C776.7,595.3,778.5,593.7,779.7,590.6z')
          path.st0(d='M827.5,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M880,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C878.4,568.2,879.6,570.8,880,574.5z M874.3,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C871.3,595.3,873.1,593.7,874.3,590.6z')
          path.st0(d='M922.1,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M974.6,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C973,568.2,974.2,570.8,974.6,574.5z\
          M968.9,590.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C965.9,595.3,967.7,593.7,968.9,590.6z')
          path.st0(d='M1016.7,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M1069.2,574.4v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1067.6,568.1,1068.8,570.7,1069.2,574.4z M1063.5,590.5l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1060.5,595.2,1062.3,593.6,1063.5,590.5z')
          path.st0(d='M1111.3,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
          path.st0(d='M1163.7,574.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C1162.1,568.2,1163.3,570.8,1163.7,574.5z M1158,590.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C1155,595.3,1156.8,593.7,1158,590.6z')
          path.st0(d='M1195.3,36.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V36.5z')
          path.st0(d='M1195.3,88.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V88.5z')
          path.st0(d='M1195.3,138.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V138.5z')
          path.st0(d='M1195.3,192.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V192.5z')
          path.st0(d='M1195.3,242.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V242.5z')
          path.st0(d='M1195.3,292.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V292.5z')
          path.st0(d='M1195.3,344.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V344.5z')
          path.st0(d='M1195.3,395.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V395.7z')
          path.st0(d='M1195.3,448.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V448.2z')
          path.st0(d='M1195.3,500.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V500.2z')
          path.st0(d='M1195.3,548.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V548.2z')
          path.st0(d='M1195.3,600.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V600.2z')
      figcaption: span.type-it
