script.
  shuffle = function(v){
      for(var j, x, i = v.length; i; j = parseInt(Math.random() * i), x = v[--i], v[i] = v[j], v[j] = x);
      return v;
  };
  $(function() {
    TweenMax.staggerFromTo(shuffle($('#digits path')),1,{alpha:0.2},{alpha:0,repeat:-1},0.01);
    new TypeIt('.type-it', {
        strings: ['あなたのビジネスを加速させるソリューションを用意します。', 
          '「ちいさく改善。お得に解決。」',
          'まずはオイコノミカにご相談を。'],
        breakLines: false,
        loop: true,
        loopDelay: false,
        nextStringDelay: 2000
    });
  });

.container
    figure
      style(type="text/css").
        figure {
          position: relative;
        }

        figcaption {
          width: 100%;
          text-align: center;
          text-shadow: 2px 2px 2px #999, 2px -2px 2px #999, -2px 2px 2px #999, -2px -2px 2px #999, 0 0 22px #999;
          position: absolute;
          top: calc(50% - 2.0em / 2);
          font-size: 1.6rem;
          font-weight: 700;
          color:#FFFFFF;
        }

      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewBox='0 0 970 686', enable-background='new 0 0 970 686', xml:space='preserve')
        style(type="text/css").
          .st0{opacity:0.5;fill:#FFFFFF;}

        g#digits
          path.st0(d='M24.7,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V20.6\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,14.5,24.3,17.1,24.7,20.8z M19,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,41.6,17.8,40,19,36.9z')
          path.st0(d='M66.8,46.4h-6.7L60,21l-3.8,3l-1.9-4.2l12.5-8.7V46.4z')
          path.st0(d='M119.3,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V20.6\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,14.5,118.9,17.1,119.3,20.8z M113.6,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,41.6,112.4,40,113.6,36.9z')
          path.st0(d='M161.4,46.4h-6.7L154.6,21l-3.8,3l-1.9-4.2l12.5-8.7L161.4,46.4L161.4,46.4z')
          path.st0(d='M213.9,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,14.5,213.5,17.1,213.9,20.8z M208.2,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,41.6,207,40,208.2,36.9z')
          path.st0(d='M256,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M308.4,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V20.6\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,14.5,308,17.1,308.4,20.8z M302.7,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,41.6,301.5,40,302.7,36.9z')
          path.st0(d='M350.6,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M403,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V20.6\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,14.5,402.6,17.1,403,20.8z M397.3,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,41.6,396.1,40,397.3,36.9z')
          path.st0(d='M445.2,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M497.6,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V20.6\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,14.5,497.2,17.1,497.6,20.8z M491.9,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,41.6,490.7,40,491.9,36.9z')
          path.st0(d='M539.8,46.5h-6.7L533,21.1l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M592.2,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,14.5,591.8,17.1,592.2,20.8z M586.5,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,41.6,585.3,40,586.5,36.9z')
          path.st0(d='M634.4,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M686.8,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,14.5,686.4,17.1,686.8,20.8z M681.1,36.9L681,20.6\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,41.6,679.9,40,681.1,36.9z')
          path.st0(d='M728.9,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M781.4,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,14.5,781,17.1,781.4,20.8z M775.7,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,41.6,774.5,40,775.7,36.9z')
          path.st0(d='M823.5,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M876,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,14.5,875.6,17.1,876,20.8z M870.3,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,41.6,869.1,40,870.3,36.9z')
          path.st0(d='M918.1,46.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V46.5z')
          path.st0(d='M970.6,20.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V20.6c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,14.5,970.2,17.1,970.6,20.8z M964.9,36.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,41.6,963.7,40,964.9,36.9z')
          path.st0(d='M24.7,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V72.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,66.5,24.3,69.1,24.7,72.8z M19,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,93.6,17.8,92,19,88.9z')
          path.st0(d='M66.8,98.4h-6.7L60,73l-3.8,3l-1.9-4.2l12.5-8.7V98.4z')
          path.st0(d='M119.3,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V72.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,66.5,118.9,69.1,119.3,72.8z M113.6,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,93.6,112.4,92,113.6,88.9z')
          path.st0(d='M161.4,98.4h-6.7L154.6,73l-3.8,3l-1.9-4.2l12.5-8.7L161.4,98.4L161.4,98.4z')
          path.st0(d='M213.9,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,66.5,213.5,69.1,213.9,72.8z M208.2,88.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,93.6,207,92,208.2,88.9z')
          path.st0(d='M256,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M308.4,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V72.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,66.5,308,69.1,308.4,72.8z M302.7,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,93.6,301.5,92,302.7,88.9z')
          path.st0(d='M350.6,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M403,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V72.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,66.5,402.6,69.1,403,72.8z M397.3,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,93.6,396.1,92,397.3,88.9z')
          path.st0(d='M445.2,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M497.6,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6V72.6\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,66.5,497.2,69.1,497.6,72.8z M491.9,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,93.6,490.7,92,491.9,88.9z')
          path.st0(d='M539.8,98.5h-6.7L533,73.1l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M592.2,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,66.5,591.8,69.1,592.2,72.8z M586.5,88.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,93.6,585.3,92,586.5,88.9z')
          path.st0(d='M634.4,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M686.8,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,66.5,686.4,69.1,686.8,72.8z M681.1,88.9\
          L681,72.6c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,93.6,679.9,92,681.1,88.9z')
          path.st0(d='M728.9,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M781.4,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,66.5,781,69.1,781.4,72.8z M775.7,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,93.6,774.5,92,775.7,88.9z')
          path.st0(d='M823.5,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M876,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,66.5,875.6,69.1,876,72.8z M870.3,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,93.6,869.1,92,870.3,88.9z')
          path.st0(d='M918.1,98.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V98.5z')
          path.st0(d='M970.6,72.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          V72.6c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,66.5,970.2,69.1,970.6,72.8z M964.9,88.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,93.6,963.7,92,964.9,88.9z')
          path.st0(d='M24.7,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,116.5,24.3,119.1,24.7,122.8z M19,138.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,143.6,17.8,142,19,138.9z')
          path.st0(d='M66.8,148.4h-6.7L60,123l-3.8,3l-1.9-4.2l12.5-8.7V148.4z')
          path.st0(d='M119.3,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,116.5,118.9,119.1,119.3,122.8z M113.6,138.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,143.6,112.4,142,113.6,138.9z')
          path.st0(d='M161.4,148.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.4z')
          path.st0(d='M213.9,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C212.3,116.5,213.5,119.1,213.9,122.8z M208.2,138.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C205.2,143.6,207,142,208.2,138.9z')
          path.st0(d='M256,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M308.4,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,116.5,308,119.1,308.4,122.8z M302.7,138.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,143.6,301.5,142,302.7,138.9z')
          path.st0(d='M350.6,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M403,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,116.5,402.6,119.1,403,122.8z M397.3,138.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,143.6,396.1,142,397.3,138.9z')
          path.st0(d='M445.2,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M497.6,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,116.5,497.2,119.1,497.6,122.8z M491.9,138.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,143.6,490.7,142,491.9,138.9z')
          path.st0(d='M539.8,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M592.2,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C590.6,116.5,591.8,119.1,592.2,122.8z M586.5,138.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C583.5,143.6,585.3,142,586.5,138.9z')
          path.st0(d='M634.4,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M686.8,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C685.2,116.5,686.4,119.1,686.8,122.8z M681.1,138.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9\
          c1.3,3.3,3.2,4.9,5.5,4.9C678.1,143.6,679.9,142,681.1,138.9z')
          path.st0(d='M728.9,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M781.4,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C779.8,116.5,781,119.1,781.4,122.8z M775.7,138.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C772.7,143.6,774.5,142,775.7,138.9z')
          path.st0(d='M823.5,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M876,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,116.5,875.6,119.1,876,122.8z M870.3,138.9\
          l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,143.6,869.1,142,870.3,138.9z')
          path.st0(d='M918.1,148.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V148.5z')
          path.st0(d='M970.6,122.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3c2.4-1.7,4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3\
          C969,116.5,970.2,119.1,970.6,122.8z M964.9,138.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.9,143.6,963.7,142,964.9,138.9z')
          path.st0(d='M24.7,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,170.5,24.3,173.1,24.7,176.8z M19,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,197.6,17.8,196,19,192.9z')
          path.st0(d='M66.8,202.4h-6.7L60,177l-3.8,3l-1.9-4.2l12.5-8.7V202.4z')
          path.st0(d='M119.3,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,170.5,118.9,173.1,119.3,176.8z M113.6,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,197.6,112.4,196,113.6,192.9z')
          path.st0(d='M161.4,202.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.4z')
          path.st0(d='M213.9,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,170.5,213.5,173.1,213.9,176.8z\
          M208.2,192.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,197.6,207,196,208.2,192.9z')
          path.st0(d='M256,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M308.4,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,170.5,308,173.1,308.4,176.8z M302.7,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,197.6,301.5,196,302.7,192.9z')
          path.st0(d='M350.6,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M403,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,170.5,402.6,173.1,403,176.8z M397.3,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,197.6,396.1,196,397.3,192.9z')
          path.st0(d='M445.2,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M497.6,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,170.5,497.2,173.1,497.6,176.8z M491.9,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,197.6,490.7,196,491.9,192.9z')
          path.st0(d='M539.8,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M592.2,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,170.5,591.8,173.1,592.2,176.8z\
          M586.5,192.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,197.6,585.3,196,586.5,192.9z\
          ')
          path.st0(d='M634.4,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M686.8,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,170.5,686.4,173.1,686.8,176.8z\
          M681.1,192.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,197.6,679.9,196,681.1,192.9z\
          ')
          path.st0(d='M728.9,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M781.4,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,170.5,781,173.1,781.4,176.8z\
          M775.7,192.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,197.6,774.5,196,775.7,192.9z\
          ')
          path.st0(d='M823.5,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M876,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,170.5,875.6,173.1,876,176.8z M870.3,192.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,197.6,869.1,196,870.3,192.9z')
          path.st0(d='M918.1,202.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V202.5z')
          path.st0(d='M970.6,176.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,170.5,970.2,173.1,970.6,176.8z\
          M964.9,192.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,197.6,963.7,196,964.9,192.9z\
          ')
          path.st0(d='M24.7,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,220.5,24.3,223.1,24.7,226.8z M19,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,247.6,17.8,246,19,242.9z')
          path.st0(d='M66.8,252.4h-6.7L60,227l-3.8,3l-1.9-4.2l12.5-8.7V252.4z')
          path.st0(d='M119.3,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,220.5,118.9,223.1,119.3,226.8z M113.6,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,247.6,112.4,246,113.6,242.9z')
          path.st0(d='M161.4,252.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.4z')
          path.st0(d='M213.9,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,220.5,213.5,223.1,213.9,226.8z\
          M208.2,242.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,247.6,207,246,208.2,242.9z')
          path.st0(d='M256,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M308.4,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,220.5,308,223.1,308.4,226.8z M302.7,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,247.6,301.5,246,302.7,242.9z')
          path.st0(d='M350.6,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M403,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,220.5,402.6,223.1,403,226.8z M397.3,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,247.6,396.1,246,397.3,242.9z')
          path.st0(d='M445.2,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M497.6,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,220.5,497.2,223.1,497.6,226.8z M491.9,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,247.6,490.7,246,491.9,242.9z')
          path.st0(d='M539.8,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M592.2,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,220.5,591.8,223.1,592.2,226.8z\
          M586.5,242.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,247.6,585.3,246,586.5,242.9z\
          ')
          path.st0(d='M634.4,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M686.8,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,220.5,686.4,223.1,686.8,226.8z\
          M681.1,242.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,247.6,679.9,246,681.1,242.9z\
          ')
          path.st0(d='M728.9,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M781.4,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,220.5,781,223.1,781.4,226.8z\
          M775.7,242.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,247.6,774.5,246,775.7,242.9z\
          ')
          path.st0(d='M823.5,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M876,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,220.5,875.6,223.1,876,226.8z M870.3,242.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,247.6,869.1,246,870.3,242.9z')
          path.st0(d='M918.1,252.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V252.5z')
          path.st0(d='M970.6,226.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,220.5,970.2,223.1,970.6,226.8z\
          M964.9,242.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,247.6,963.7,246,964.9,242.9z\
          ')
          path.st0(d='M24.7,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,270.5,24.3,273.1,24.7,276.8z M19,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,297.6,17.8,296,19,292.9z')
          path.st0(d='M66.8,302.4h-6.7L60,277l-3.8,3l-1.9-4.2l12.5-8.7V302.4z')
          path.st0(d='M119.3,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,270.5,118.9,273.1,119.3,276.8z M113.6,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,297.6,112.4,296,113.6,292.9z')
          path.st0(d='M161.4,302.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.4z')
          path.st0(d='M213.9,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,270.5,213.5,273.1,213.9,276.8z\
          M208.2,292.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,297.6,207,296,208.2,292.9z')
          path.st0(d='M256,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M308.4,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,270.5,308,273.1,308.4,276.8z M302.7,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,297.6,301.5,296,302.7,292.9z')
          path.st0(d='M350.6,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M403,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,270.5,402.6,273.1,403,276.8z M397.3,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,297.6,396.1,296,397.3,292.9z')
          path.st0(d='M445.2,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M497.6,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,270.5,497.2,273.1,497.6,276.8z M491.9,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,297.6,490.7,296,491.9,292.9z')
          path.st0(d='M539.8,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M592.2,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,270.5,591.8,273.1,592.2,276.8z\
          M586.5,292.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,297.6,585.3,296,586.5,292.9z\
          ')
          path.st0(d='M634.4,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M686.8,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,270.5,686.4,273.1,686.8,276.8z\
          M681.1,292.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,297.6,679.9,296,681.1,292.9z\
          ')
          path.st0(d='M728.9,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M781.4,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,270.5,781,273.1,781.4,276.8z\
          M775.7,292.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,297.6,774.5,296,775.7,292.9z\
          ')
          path.st0(d='M823.5,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M876,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,270.5,875.6,273.1,876,276.8z M870.3,292.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,297.6,869.1,296,870.3,292.9z')
          path.st0(d='M918.1,302.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V302.5z')
          path.st0(d='M970.6,276.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,270.5,970.2,273.1,970.6,276.8z\
          M964.9,292.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,297.6,963.7,296,964.9,292.9z\
          ')
          path.st0(d='M24.7,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,322.5,24.3,325.1,24.7,328.8z M19,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,349.6,17.8,348,19,344.9z')
          path.st0(d='M66.8,354.4h-6.7L60,329l-3.8,3l-1.9-4.2l12.5-8.7V354.4z')
          path.st0(d='M119.3,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,322.5,118.9,325.1,119.3,328.8z M113.6,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,349.6,112.4,348,113.6,344.9z')
          path.st0(d='M161.4,354.4h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.4z')
          path.st0(d='M213.9,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,322.5,213.5,325.1,213.9,328.8z\
          M208.2,344.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,349.6,207,348,208.2,344.9z')
          path.st0(d='M256,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M308.4,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,322.5,308,325.1,308.4,328.8z M302.7,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,349.6,301.5,348,302.7,344.9z')
          path.st0(d='M350.6,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M403,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,322.5,402.6,325.1,403,328.8z M397.3,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,349.6,396.1,348,397.3,344.9z')
          path.st0(d='M445.2,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M497.6,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,322.5,497.2,325.1,497.6,328.8z M491.9,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,349.6,490.7,348,491.9,344.9z')
          path.st0(d='M539.8,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M592.2,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,322.5,591.8,325.1,592.2,328.8z\
          M586.5,344.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,349.6,585.3,348,586.5,344.9z\
          ')
          path.st0(d='M634.4,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M686.8,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,322.5,686.4,325.1,686.8,328.8z\
          M681.1,344.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C678.1,349.6,679.9,348,681.1,344.9z\
          ')
          path.st0(d='M728.9,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M781.4,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,322.5,781,325.1,781.4,328.8z\
          M775.7,344.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.7,349.6,774.5,348,775.7,344.9z\
          ')
          path.st0(d='M823.5,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M876,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,322.5,875.6,325.1,876,328.8z M870.3,344.9l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,349.6,869.1,348,870.3,344.9z')
          path.st0(d='M918.1,354.5h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V354.5z')
          path.st0(d='M970.6,328.8v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,322.5,970.2,325.1,970.6,328.8z\
          M964.9,344.9l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C961.9,349.6,963.7,348,964.9,344.9z\
          ')
          path.st0(d='M24.7,380v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,373.7,24.3,376.3,24.7,380z M19,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,400.8,17.8,399.2,19,396.1z')
          path.st0(d='M66.8,405.7h-6.7L60,380.3l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M119.3,380v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,373.7,118.9,376.3,119.3,380z M113.6,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,400.8,112.4,399.2,113.6,396.1z')
          path.st0(d='M161.4,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M213.9,380v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,373.7,213.5,376.3,213.9,380z M208.2,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,400.8,207,399.2,208.2,396.1z')
          path.st0(d='M256,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M308.4,380v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,373.7,308,376.3,308.4,380z M302.7,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,400.8,301.5,399.2,302.7,396.1z')
          path.st0(d='M350.6,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M403,380v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,373.7,402.6,376.3,403,380z M397.3,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,400.8,396.1,399.2,397.3,396.1z')
          path.st0(d='M445.2,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M497.6,380v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,373.7,497.2,376.3,497.6,380z M491.9,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,400.8,490.7,399.2,491.9,396.1z')
          path.st0(d='M539.8,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M592.2,380v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,373.7,591.8,376.3,592.2,380z M586.5,396.1l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583.5,400.8,585.3,399.2,586.5,396.1z')
          path.st0(d='M634.4,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M686.8,380.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,373.8,686.4,376.4,686.8,380.1z\
          M681.1,396.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V396c1.3,3.3,3.2,4.9,5.5,4.9C678.1,400.9,679.9,399.3,681.1,396.2\
          z')
          path.st0(d='M728.9,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M781.4,380.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,373.8,781,376.4,781.4,380.1z\
          M775.7,396.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V396c1.3,3.3,3.2,4.9,5.5,4.9C772.7,400.9,774.5,399.3,775.7,396.2\
          z')
          path.st0(d='M823.5,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M876,380.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,373.8,875.6,376.4,876,380.1z M870.3,396.2l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V396c1.3,3.3,3.2,4.9,5.5,4.9C867.3,400.9,869.1,399.3,870.3,396.2z')
          path.st0(d='M918.1,405.7h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V405.7z')
          path.st0(d='M970.6,380.1v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,373.8,970.2,376.4,970.6,380.1z\
          M964.9,396.2l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9V396c1.3,3.3,3.2,4.9,5.5,4.9C961.9,400.9,963.7,399.3,964.9,396.2\
          z')
          path.st0(d='M24.7,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,426.2,24.3,428.8,24.7,432.5z M19,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,453.3,17.8,451.7,19,448.6z')
          path.st0(d='M66.8,458.1h-6.7L60,432.7l-3.8,3l-1.9-4.2l12.5-8.7V458.1z')
          path.st0(d='M119.3,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,426.2,118.9,428.8,119.3,432.5z M113.6,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,453.3,112.4,451.7,113.6,448.6z')
          path.st0(d='M161.4,458.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.1z')
          path.st0(d='M213.9,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,426.2,213.5,428.8,213.9,432.5z\
          M208.2,448.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,453.3,207,451.7,208.2,448.6z\
          ')
          path.st0(d='M256,458.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.1z')
          path.st0(d='M308.4,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,426.2,308,428.8,308.4,432.5z M302.7,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,453.3,301.5,451.7,302.7,448.6z')
          path.st0(d='M350.6,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M403,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,426.2,402.6,428.8,403,432.5z M397.3,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,453.3,396.1,451.7,397.3,448.6z')
          path.st0(d='M445.2,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M497.6,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,426.2,497.2,428.8,497.6,432.5z M491.9,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,453.3,490.7,451.7,491.9,448.6z')
          path.st0(d='M539.8,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M592.2,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,426.2,591.8,428.8,592.2,432.5z\
          M586.5,448.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C583.5,453.3,585.3,451.7,586.5,448.6z')
          path.st0(d='M634.4,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M686.8,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,426.2,686.4,428.8,686.8,432.5z\
          M681.1,448.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C678.1,453.3,679.9,451.7,681.1,448.6z')
          path.st0(d='M728.9,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M781.4,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,426.2,781,428.8,781.4,432.5z\
          M775.7,448.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C772.7,453.3,774.5,451.7,775.7,448.6z')
          path.st0(d='M823.5,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M876,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,426.2,875.6,428.8,876,432.5z M870.3,448.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,453.3,869.1,451.7,870.3,448.6z')
          path.st0(d='M918.1,458.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V458.2z')
          path.st0(d='M970.6,432.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,426.2,970.2,428.8,970.6,432.5z\
          M964.9,448.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.9,453.3,963.7,451.7,964.9,448.6z')
          path.st0(d='M24.7,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,478.2,24.3,480.8,24.7,484.5z M19,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,505.3,17.8,503.7,19,500.6z')
          path.st0(d='M66.8,510.1h-6.7L60,484.7l-3.8,3l-1.9-4.2l12.5-8.7V510.1z')
          path.st0(d='M119.3,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,478.2,118.9,480.8,119.3,484.5z M113.6,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,505.3,112.4,503.7,113.6,500.6z')
          path.st0(d='M161.4,510.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.1z')
          path.st0(d='M213.9,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,478.2,213.5,480.8,213.9,484.5z\
          M208.2,500.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,505.3,207,503.7,208.2,500.6z\
          ')
          path.st0(d='M256,510.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.1z')
          path.st0(d='M308.4,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,478.2,308,480.8,308.4,484.5z M302.7,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,505.3,301.5,503.7,302.7,500.6z')
          path.st0(d='M350.6,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M403,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,478.2,402.6,480.8,403,484.5z M397.3,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,505.3,396.1,503.7,397.3,500.6z')
          path.st0(d='M445.2,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M497.6,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,478.2,497.2,480.8,497.6,484.5z M491.9,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,505.3,490.7,503.7,491.9,500.6z')
          path.st0(d='M539.8,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M592.2,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,478.2,591.8,480.8,592.2,484.5z\
          M586.5,500.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C583.5,505.3,585.3,503.7,586.5,500.6z')
          path.st0(d='M634.4,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M686.8,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,478.2,686.4,480.8,686.8,484.5z\
          M681.1,500.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C678.1,505.3,679.9,503.7,681.1,500.6z')
          path.st0(d='M728.9,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M781.4,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,478.2,781,480.8,781.4,484.5z\
          M775.7,500.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C772.7,505.3,774.5,503.7,775.7,500.6z')
          path.st0(d='M823.5,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M876,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,478.2,875.6,480.8,876,484.5z M870.3,500.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,505.3,869.1,503.7,870.3,500.6z')
          path.st0(d='M918.1,510.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V510.2z')
          path.st0(d='M970.6,484.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,478.2,970.2,480.8,970.6,484.5z\
          M964.9,500.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.9,505.3,963.7,503.7,964.9,500.6z')
          path.st0(d='M24.7,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,536.2,24.3,538.8,24.7,542.5z M19,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,563.3,17.8,561.7,19,558.6z')
          path.st0(d='M66.8,568.1h-6.7L60,542.7l-3.8,3l-1.9-4.2l12.5-8.7V568.1z')
          path.st0(d='M119.3,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,536.2,118.9,538.8,119.3,542.5z M113.6,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,563.3,112.4,561.7,113.6,558.6z')
          path.st0(d='M161.4,568.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.1z')
          path.st0(d='M213.9,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,536.2,213.5,538.8,213.9,542.5z\
          M208.2,558.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,563.3,207,561.7,208.2,558.6z\
          ')
          path.st0(d='M256,568.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.1z')
          path.st0(d='M308.4,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,536.2,308,538.8,308.4,542.5z M302.7,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,563.3,301.5,561.7,302.7,558.6z')
          path.st0(d='M350.6,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M403,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,536.2,402.6,538.8,403,542.5z M397.3,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,563.3,396.1,561.7,397.3,558.6z')
          path.st0(d='M445.2,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M497.6,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,536.2,497.2,538.8,497.6,542.5z M491.9,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,563.3,490.7,561.7,491.9,558.6z')
          path.st0(d='M539.8,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M592.2,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,536.2,591.8,538.8,592.2,542.5z\
          M586.5,558.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C583.5,563.3,585.3,561.7,586.5,558.6z')
          path.st0(d='M634.4,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M686.8,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,536.2,686.4,538.8,686.8,542.5z\
          M681.1,558.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C678.1,563.3,679.9,561.7,681.1,558.6z')
          path.st0(d='M728.9,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M781.4,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,536.2,781,538.8,781.4,542.5z\
          M775.7,558.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C772.7,563.3,774.5,561.7,775.7,558.6z')
          path.st0(d='M823.5,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M876,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,536.2,875.6,538.8,876,542.5z M870.3,558.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,563.3,869.1,561.7,870.3,558.6z')
          path.st0(d='M918.1,568.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V568.2z')
          path.st0(d='M970.6,542.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,536.2,970.2,538.8,970.6,542.5z\
          M964.9,558.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.9,563.3,963.7,561.7,964.9,558.6z')
          path.st0(d='M24.7,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C23.1,588.2,24.3,590.8,24.7,594.5z M19,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C16,615.3,17.8,613.7,19,610.6z')
          path.st0(d='M66.8,620.1h-6.7L60,594.7l-3.8,3l-1.9-4.2l12.5-8.7V620.1z')
          path.st0(d='M119.3,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.7,588.2,118.9,590.8,119.3,594.5z M113.6,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.6,615.3,112.4,613.7,113.6,610.6z')
          path.st0(d='M161.4,620.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.1z')
          path.st0(d='M213.9,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C212.3,588.2,213.5,590.8,213.9,594.5z\
          M208.2,610.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C205.2,615.3,207,613.7,208.2,610.6z\
          ')
          path.st0(d='M256,620.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.1z')
          path.st0(d='M308.4,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.8,588.2,308,590.8,308.4,594.5z M302.7,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.7,615.3,301.5,613.7,302.7,610.6z')
          path.st0(d='M350.6,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M403,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C401.4,588.2,402.6,590.8,403,594.5z M397.3,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C394.3,615.3,396.1,613.7,397.3,610.6z')
          path.st0(d='M445.2,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M497.6,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C496,588.2,497.2,590.8,497.6,594.5z M491.9,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.9,615.3,490.7,613.7,491.9,610.6z')
          path.st0(d='M539.8,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M592.2,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.6,588.2,591.8,590.8,592.2,594.5z\
          M586.5,610.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C583.5,615.3,585.3,613.7,586.5,610.6z')
          path.st0(d='M634.4,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M686.8,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C685.2,588.2,686.4,590.8,686.8,594.5z\
          M681.1,610.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C678.1,615.3,679.9,613.7,681.1,610.6z')
          path.st0(d='M728.9,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M781.4,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.8,588.2,781,590.8,781.4,594.5z\
          M775.7,610.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C772.7,615.3,774.5,613.7,775.7,610.6z')
          path.st0(d='M823.5,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M876,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8c-2.1-2-3.3-4.5-3.7-7.6\
          v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C874.4,588.2,875.6,590.8,876,594.5z M870.3,610.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C867.3,615.3,869.1,613.7,870.3,610.6z')
          path.st0(d='M918.1,620.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V620.2z')
          path.st0(d='M970.6,594.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C969,588.2,970.2,590.8,970.6,594.5z\
          M964.9,610.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.9,615.3,963.7,613.7,964.9,610.6z')
          path.st0(d='M24.2,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C22.6,643.2,23.8,645.8,24.2,649.5z M18.5,665.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C15.5,670.3,17.3,668.7,18.5,665.6z')
          path.st0(d='M66.3,675.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.1z')
          path.st0(d='M118.8,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C117.2,643.2,118.4,645.8,118.8,649.5z M113.1,665.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C110.1,670.3,111.9,668.7,113.1,665.6z')
          path.st0(d='M160.9,675.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.1z')
          path.st0(d='M213.4,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C211.8,643.2,213,645.8,213.4,649.5z\
          M207.7,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C204.7,670.3,206.5,668.7,207.7,665.6z')
          path.st0(d='M255.5,675.1h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.1z')
          path.st0(d='M307.9,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C306.3,643.2,307.5,645.8,307.9,649.5z M302.2,665.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C299.2,670.3,301,668.7,302.2,665.6z')
          path.st0(d='M350.1,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M402.5,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C400.9,643.2,402.1,645.8,402.5,649.5z M396.8,665.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C393.8,670.3,395.6,668.7,396.8,665.6z')
          path.st0(d='M444.7,675.2H438l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M497.1,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3s-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8s-3.3-4.5-3.7-7.6v-16.1\
          c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C495.5,643.2,496.7,645.8,497.1,649.5z M491.4,665.6l-0.1-16.3\
          c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C488.4,670.3,490.2,668.7,491.4,665.6z')
          path.st0(d='M539.3,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M591.7,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C590.1,643.2,591.3,645.8,591.7,649.5z\
          M586,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C583,670.3,584.8,668.7,586,665.6z')
          path.st0(d='M633.9,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M686.3,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C684.7,643.2,685.9,645.8,686.3,649.5z\
          M680.6,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C677.6,670.3,679.4,668.7,680.6,665.6z')
          path.st0(d='M728.4,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M780.9,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C779.3,643.2,780.5,645.8,780.9,649.5z\
          M775.2,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9C772.2,670.3,774,668.7,775.2,665.6z\
          ')
          path.st0(d='M823,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M875.5,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C873.9,643.2,875.1,645.8,875.5,649.5z\
          M869.8,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C866.8,670.3,868.6,668.7,869.8,665.6z')
          path.st0(d='M917.6,675.2h-6.7l-0.1-25.4l-3.8,3l-1.9-4.2l12.5-8.7V675.2z')
          path.st0(d='M970.1,649.5v16.3c0,2.8-1.1,5.2-3.2,7.3c-2.1,2.1-4.8,3-8,2.7c-3.2,0.1-5.8-0.8-7.9-2.8\
          c-2.1-2-3.3-4.5-3.7-7.6v-16.1c0.2-3.2,1.6-5.6,4-7.3s4.9-2.6,7.6-2.7c2.9,0,5.4,0.8,7.5,2.3C968.5,643.2,969.7,645.8,970.1,649.5z\
          M964.4,665.6l-0.1-16.3c-1.2-3.1-3-4.7-5.4-4.7s-4.3,1.6-5.6,4.9v15.9c1.3,3.3,3.2,4.9,5.5,4.9\
          C961.4,670.3,963.2,668.7,964.4,665.6z')
      figcaption: span.type-it
