doctype html
block vars
html(lang="ja")
  head
    if title
      title #{title} | 合同会社オイコノミカ
    else
      title 合同会社オイコノミカ
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='合同会社オイコノミカの企業説明サイトです。')
    meta(name='robots', content='noindex')

    meta(property='og:image', content='./img/og.png')
    meta(property='og:url', content='https://www.oikonomika.jp')
    meta(property='og:title', content='合同会社オイコノミカ')
    meta(property='og:type', content='website')
    meta(property='og:description', content='合同会社オイコノミカの企業説明サイトです。')

    link(href='//fonts.googleapis.com/css?family=Noto+Serif+JP', rel='stylesheet')
    link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel="stylesheet" href="/css/base.css")
    block styles

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/scripts/base.js')
    block scripts

  body
    header
      nav
        - var hrefPrefix = isIndexPage ? '#' : '/#'
        h1: a(href=hrefPrefix, title='合同会社オイコノミカ')
          include ../img/_symbol.svg
          include ../img/_logotype.svg

        mixin menu_item(href, name)
          li: a(href=href)= name

        mixin index_menu_item(href, name)
          li: a(href=hrefPrefix + href, onclick='toggleResponsiveMenu()')= name

        mixin humburger_menu_item()
          li.humberger-button: a(onclick='toggleResponsiveMenu()'): i(class='fa fa-bars')

        ul
          +humburger_menu_item()
          +index_menu_item('introduction', '会社紹介')
          +index_menu_item('service', 'サービス')
          +index_menu_item('about', '企業情報')
          +menu_item('./contact.html', 'お問い合わせ')

    block content
  
    footer
      a#return-to-top(href='#')
        i(class='fas fa-caret-up')
