@import 'common'

*
  margin: 0
  padding: 0

header
  width: 100%
  background: white
  position: fixed
  top: 0
  z-index: 2
  transition: $header_scroll_transion

  nav 
    @extend .container
    height: $header_height

    h1
      float: left

      svg
        margin-top: ($header_height * 0.2)
        height: ($header_height * 0.6)
        float: left
        transition: $header_scroll_transion
        transition-duration: 0.05s
        transition-property: height, margin
      svg + svg
        margin-left: 12px

    ul
      filter: drop-shadow(0.3px 0.3px 0.3px rgba(0,0,0,0.6));
      float: right
      display: flex
      flex-flow: row
      list-style-type: none
      @include vertical-align()

      li
        a
          font-size: 1.2em
          display: block
          text-align: center
          text-decoration: none

          color: #454545
        a:hover
          color: $theme_color

      li + li
        padding-left: 16px

  .header-is-animation
    height: $header_scrolled_height

    svg
      margin-top: ($header_scrolled_height * 0.2)
      height: ($header_scrolled_height * 0.6)

main
  margin-top: $header_height
  background: $theme_color

section
  h2
    font-size: 56px
    font-weight: 500
    text-align: center
    color: $theme_color

  h3
    text-align: center
    font-size: 12px
    font-weight: 700
  p
    text-align: center
  padding: 118px

section#service
  background: $theme_color
  h2
    color: $light_font_color

  #service-list
    @extend .container
    display: flex
    flex-flow: row
    list-style-type: none
    text-align: center
    font-weight: 700

    li
      width: (100% / 3)
      margin-top: 24px
      margin-bottom: 24px

      div
        width: 100px
        height: 100px
        background-color: white
        margin: 0 auto
        padding: 16px
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center

        i
          color: #555555
          font-size: 64px
          text-align: center
          text-decoration: none
          filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.3))

      h4
        color: $light_font_color
        margin: 16px
        font-size: 24px
      p
        color: $light_font_color
        font-size: 16px
        font-weight: 300
        margin: 0 auto
        width: 100%
    li + li
      margin-left: 48px

section#about
  padding-left: 0
  padding-right: 0

  #company-profile
    display: flex
    flex-flow: row
    padding-top: 16px

    #company-data
      @extend .container-half
      background-color: #f6f6f6
      color: #333
      font-size: 16px

      dl
        margin-top: 48px
        margin-bottom: 48px
        float: right
        width: ($container_width / 2)
        display: flex
        flex-wrap: wrap
        border: 1px solid #efefef
        border-top: none
        border-left: none
        border-right: none

        dt 
          width: 30%
          box-sizing: border-box
          border-top: 1px solid #efefef
          padding: 16px
        dd
          padding: 16px
          width: 70%
          box-sizing: border-box
          border-top: 1px solid #efefef

    #company-history
      clear: both
      @extend .container-half
      background-color: #f0f0ef
      padding-top: 48px
      padding-bottom: 48px

      h3
        font-size: 16px
        text-align: left

      .timeline
        height: 100%
        width: ($container_width / 2)
        position: relative

        .timeline-point
          margin-left: 32px

        $timeline_ellipse_major_axis : 16px
        $timeline_point_radius : 6px

        // タイムラインのポイント楕円
        .timeline-point:after
          content: ''
          position: absolute
          width: $timeline_ellipse_major_axis
          height: $timeline_ellipse_major_axis
          background-color: white
          border: 4px solid #FF9F55
          top: 16px
          border-radius: 50%
          z-index: 1
          margin-left: (-32px - $timeline_ellipse_major_axis - $timeline_point_radius - 2px)

        // 吹き出し先端
        .timeline-point:before
          content: " "
          height: 0
          position: absolute
          top: 16px
          width: 0
          z-index: 1
          left: -10px
          border: medium solid white
          border-width: 10px 10px 10px 0
          border-color: transparent white transparent transparent


        // タイムラインの吹き出し内容
        .timeline-point
          padding: ($timeline_point_radius * 2)
          margin-top: ($timeline_point_radius * 2)
          background-color: white
          position: relative
          border-radius: $timeline_point_radius
          
          p
            text-align: left

      $timeline_axis_width: 6px

      // タイムラインの時間軸
      .timeline:after
        content: ''
        position: absolute
        width: $timeline_axis_width
        background-color: white
        top: -64px
        margin-left: -($timeline_axis_width / 2)
        bottom: 0
        margin-bottom: -(36px)

  #company-profile:after
      content: ""
      position: absolute
      left: calc(50% - 48px)
      margin: 0 auto;
      border-width: 48px 48px 0
      border-style: solid
      border-color: transparent
      border-top-color: #fff
  padding-bottom: 0

footer
  height: 128px
  text-align: center

  #return-to-top
      @include vertical-align()
      color: #f0f0ef
      text-decoration: none;

  #return-to-top i
      margin: 0
      font-size: 64px

  #return-to-top:hover
      color: #87C1F8

  #return-to-top:hover i 
      color: #87C1F8
